@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');

:root{
    --headerbg: #232536;
    --buttonbg: #FFD050;
    --border: #D6D6D6;
    --whitetext: #FFFFFF;
    --sliderbg: #FBF6EA;
}
.container-sm{
    max-width: 1440px;
    font-family: "Sen";
    font-weight: 400;
}
.whiteh1{
    color: var(--whitetext);
    font-weight: 700;
    font-size: calc(24px + 16 * (100vw / 1296));
}
.whiteh4{
    font-size: calc(12px + 8 * (100vw / 1296));
    color: var(--whitetext);
    font-weight: 700;
}
.whitetext{
    color: var(--whitetext);
    font-size: calc(12px + 4 * (100vw / 1296));
    font-weight: 400;
}
.maintext{
    font-size: calc(4px + 4 * (100vw / 1296));
    font-weight: 400;
}
h4{
    font-size: calc(12px + 8 * (100vw / 1296));
    font-weight: 700;
}
h5{
    font-size: calc(8px + 8 * (100vw / 1296));
    font-weight: 700;
}
.btn{
    background-color: var(--buttonbg);
    border: none;
    border-radius: 0;
    color: black;
    font-weight: 700;
    font-size: calc(12px + 4 * (100vw / 1296));
    margin-top: 2%;
    width: calc(100px + 48 * (100vw / 1296));
    height: calc(32px + 48 * (100vh / 1296));
    white-space: nowrap;
}
.lefttext{
    text-align: left;
    margin-left: 15%;
}

.btn-more{
    background-color: var(--buttonbg);
    border: none;
    border-radius: 0;
    color: black;
    font-weight: 700;
    font-size: calc(12px + 4 * (100vw / 1296));
    margin-top: 2%;
    width: calc(100px + 48 * (100vw / 1296));
    height: calc(32px + 48 * (100vh / 1296));
    white-space: nowrap;
}

/* Header */

.header{
    background-color: var(--headerbg);
}
.nav-link{
    color: var(--whitetext);
}
.disabled{
    color: var(--whitetext);
}


/* 1st Slide */
.slide1{
    background-image: url("bg_man.png");
    background-repeat: no-repeat;
    padding-top: 10%;
    padding-left: 5%;
    height: 56vh;
}
/* Posts */
.row{
    padding: 5%;
}
.main-post{
    border: 1px solid var(--border);
}
.img-palm{
    width: 100%;
}

.post{
    margin-top: 5%;
}

/* Categories */

/* Photopost */

.photopost{
    padding-top: 10%;
}
.photo{
    width: 40%;
    margin-left: -10%;
}
.kids{
    width: calc(200px + 250 * (100vw / 1296));
}

/* Authors */
.names{
    margin-top: 5%;
}

/* slider */
.leftsl{
    padding-left: 10;
}
.slider{
    background-color: var(--sliderbg);
    padding-left: 13%;
    padding-top: 10%;
    width: 50vw;
}
.mininame{
    margin-left: 3%;
}
.titleslider{
    margin-bottom: 5%;
}

/* footer */

.foot{
    background-color: var(--headerbg);

}






@media (max-width: 2160px) { 
    .container-sm{
        max-width: 1440px;
    }
}
@media (max-width: 1440px) { 
    .container-sm{
        max-width: 1024px;
    }
}
@media (max-width: 1024px) { 
    .container-sm{
        max-width: 768px;
    }
}



@media (max-width: 768px) { 
    .container-sm{
        max-width: none;
    }
    .postes{
        display: inline-block;
    }
    .posties{
        width: 100%;
    }
    .sec{
        margin-top: 10%;
    }
    .marg{
        margin-left: 1%;
    }
}
@media (max-width: 550px) { 
    .container-sm{
        max-width: none;
    }
    .postes{
        display: inline-block;
    }
    .posties{
        width: 100%;
    }
    .sec{
        margin-top: 10%;
    }
}
@media (max-width: 375px) { 
    .container-sm{
        max-width: none;
    }
    .postes{
        display: inline-block;
    }
    .posties{
        width: 100%;
    }
    .sec{
        margin-top: 10%;
    }
}

